div{
	width: 100px;
	height: 100px;
	background-color: skyblue;
}
.line{
	width: 200px;
	height: 2px;
	background-color: #666;
}
/* 移动 */
.div2{
	-webkit-transform: translate(100px, 100px);
	 -ms-transform: translate(100px, 100px);
	 -o-transform: translate(100px, 100px);
	 transform: translate(100px, 100px); 
}
.div2{
	-webkit-transform: rotate(165deg);
	-ms-transform: rotate(165deg);
	-o-transform: rotate(165deg);
	transform: rotate(165deg);
}
.div2{
	background: gold; 
	-webkit-transform: skewX(-30deg, 60deg);
	-ms-transform: skewX(-30deg, 60deg);
	-o-transform: skewX(-30deg, 60deg);
	transform: skewX(-30deg, 60deg);
}

.div3{
	position: relative;
	animation: anim 5s infinite;
}
@keyframes anim{
	0%{
		left: 0;
		top: 0;
	}
	25%{
		left: 100px;
		top: 0;
		background-color:red;
	}
	50%{
		left: 100px;
		top: 100px;
		background-color: aqua;
	}
	75%{
		left: 0;
		top: 100px;
		background-color: green;
	}
	100%{
		left: 0;
		top: 0;
	}
}