<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>vue教程</title>
	<link rel="stylesheet" href="../../static/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<script src="../../static/js/vue-2.2.4.js"></script>
</head>
<body>
	<ul id="example-1">
	  <template v-for="item in items">
	    <li>{{ item.msg }}</li>
	    <li class="divider"></li>
	  </template>
	</ul>
	
	<div class="container">
		
	</div>
	<!-- 用于列表渲染时排序 -->
	<div v-for="item in items" :key="item.id" @click="doSomething">
	  <!-- 内容 -->
	</div>

	<div id="example-2" class="bg-blue" @click="doSomething">{{a}}</div>
</body>
<script src="js/reading.js"></script>
</html>